<template>
  <v-autocomplete
    v-model="select"
    v-model:search="search"
    :loading="loading"
    :items="items"
    item-title="display_name"
    item-value="display_name"
    label="Search city"
    @update:model-value="onSelect"
    @update:search="requestItems"
  ></v-autocomplete>
</template>
<script>
import axios from "axios";

export default {
  data() {
    return {
      loading: false,
      items: [],
      search: null,
      select: null,
      timeout: null,
    };
  },
  methods: {
    requestItems() {
      clearTimeout(this.timeout);
      if (this.search === this.select) {
        return;
      }
      if (this.search.length > 0) {
        this.loading = true;
        this.timeout = setTimeout(() => {
          axios
            .post("/cities/autocomplete", { text: this.search })
            .then((response) => {
              this.items = response.data;
            })
            .finally(() => {
              this.loading = false;
            });
        }, 2000);
      } else {
        // this.items = [];
      }
    },
    onSelect() {
      const city = this.items.find((item) => item.display_name === this.select);
      this.$emit("onSelect", city);
    },
  },
};
</script>
