<template>
  <v-card>
    <v-card-title>
      <span class="text-h5">{{ formTitle }}</span>
    </v-card-title>

    <v-card-text>
      <v-container>
        <v-row>
          <v-col cols="12">
            <city-autocomplete @onSelect="autocompleteCity" />
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="12">
            <v-text-field
              v-model="city.display_name"
              label="Name"
              :rules="[rules.required]"
            ></v-text-field>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="12" sm="6">
            <v-text-field
              v-model="city.lat"
              label="Latitud"
              type="number"
              step="any"
              :rules="[rules.non_negative]"
            ></v-text-field>
          </v-col>
          <v-col cols="12" sm="6">
            <v-text-field
              v-model="city.lon"
              label="Longitud"
              type="number"
              step="any"
              :rules="[rules.non_negative]"
            ></v-text-field>
          </v-col>
        </v-row>
      </v-container>
    </v-card-text>

    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn color="blue-darken-1" variant="text" @click="$emit('close')">
        Cancel
      </v-btn>
      <v-btn color="blue-darken-1" variant="text" @click="$emit('save', city)">
        Save
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import CityAutocomplete from "./CityAutocomplete.vue";

export default {
  components: { CityAutocomplete },
  props: {
    formTitle: {
      type: String,
      required: true,
    },
    selectedCity: Object,
  },
  data: () => ({
    city: null,
    rules: {
      required: (value) => !!value || "Required.",
      non_negative: (value) => value >= 0 || "Non negative number.",
    },
  }),
  watch: {
    selectedCity: {
      handler(newData) {
        this.city = newData ?? {
          display_name: "",
          lat: 0,
          lon: 0,
        };
      },
      deep: true,
      immediate: true,
    },
  },
  methods: {
    autocompleteCity(city) {
      this.city = city;
    },
  }
};
</script>
