<template>
  <v-data-table
    density="compact"
    :headers="headers"
    :items="citiesStore.cities"
    :sort-by="[{ key: 'display_name', order: 'asc' }]"
    class="elevation-1"
  >
    <template v-slot:top>
      <v-toolbar flat>
        <v-toolbar-title>Cities of Malta</v-toolbar-title>
        <v-divider class="mx-4" inset vertical></v-divider>
        <v-spacer></v-spacer>
        <v-dialog v-model="dialog" max-width="500px">
          <template v-slot:activator="{ props }">
            <v-btn color="primary" dark class="mb-2" v-bind="props">
              New City
            </v-btn>
          </template>
          <city-form
            :form-title="formTitle"
            :selected-city="selectedItem"
            @save="save"
            @close="close"
          />
        </v-dialog>
        <v-dialog v-model="dialogDelete" max-width="500px">
          <item-delete-card
            @closeDelete="closeDelete"
            @confirmDelete="deleteItemConfirmed"
          />
        </v-dialog>
      </v-toolbar>
    </template>
    <template v-slot:[`item.actions`]="{ item }">
      <v-icon
        icon="mdi-pencil"
        size="small"
        class="me-2"
        @click="editItem(item.raw)"
      >
      </v-icon>
      <v-icon
        icon="mdi-delete"
        size="small"
        @click="deleteItem(item.raw)"
      ></v-icon>
    </template>
  </v-data-table>
</template>

<script>
import { mapState, mapActions } from "vuex";
import { VDataTable } from "vuetify/labs/VDataTable";
import CityForm from "./CityForm.vue";
import ItemDeleteCard from "./ItemDeleteCard.vue";

export default {
  components: {
    VDataTable,
    CityForm,
    ItemDeleteCard,
  },
  data: () => ({
    search: "",
    dialog: false,
    dialogDelete: false,
    headers: [
      { title: "Name", key: "display_name" },
      { title: "Latitude", key: "lat" },
      { title: "Longitude", key: "lon" },
      { title: "Actions", key: "actions", sortable: false },
    ],
    selectedIndex: -1,
    selectedItem: null,
  }),
  computed: {
    ...mapState(["citiesStore"]),
    formTitle() {
      return this.selectedIndex === -1 ? "New City" : "Edit City";
    },
  },
  watch: {
    dialog(val) {
      val || this.close();
    },
    dialogDelete(val) {
      val || this.closeDelete();
    },
  },
  methods: {
    ...mapActions(["fetchCities", "addCity", "updateCity", "deleteCity"]),
    editItem(item) {
      this.selectedIndex = this.citiesStore.cities.indexOf(item);
      this.selectedItem = Object.assign({}, item);
      this.dialog = true;
    },
    save(item) {
      if (this.selectedIndex > -1) {
        this.updateCity(item);
      } else {
        this.addCity(item);
      }
      this.close();
    },
    deleteItem(item) {
      this.selectedIndex = this.citiesStore.cities.indexOf(item);
      this.selectedItem = Object.assign({}, item);
      this.dialogDelete = true;
    },
    deleteItemConfirmed() {
      this.deleteCity(this.selectedItem.id);
      this.closeDelete();
    },
    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.selectedItem = null;
        this.selectedIndex = -1;
      });
    },
    closeDelete() {
      this.dialogDelete = false;
      this.$nextTick(() => {
        this.selectedItem = null;
        this.selectedIndex = -1;
      });
    },
  },
  mounted() {
    this.fetchCities();
  },
};
</script>
