<template>
  <v-card>
    <v-card-title class="text-h5"
      >Are you sure you want to delete this item?</v-card-title
    >
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn color="blue-darken-1" variant="text" @click="$emit('closeDelete')"
        >Cancel</v-btn
      >
      <v-btn
        color="blue-darken-1"
        variant="text"
        @click="$emit('confirmDelete')"
        >OK</v-btn
      >
      <v-spacer></v-spacer>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {};
</script>
